<ion-header text-center>
  <ion-navbar>

    <ion-buttons end>
      <button ion-button
              icon-only
              tappable
              (click)="navCtrl.popToRoot()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="header-title">

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="show-background-image">

  <div id="titleArea" text-center>
    <img src="assets/imgs/mi-route-logo.png" alt="Mi-Route | Powered by CarData" id="miRouteLogoImg"/>
  </div>

  <div class="fusionInputBox">
    <form #f="ngForm" (ngSubmit)="onVerifyEmail(f)">
      <ion-list no-lines text-center>
        <ion-item text-center>
          <h2>Enter Email</h2>
        </ion-item>
        <ion-item text-center>
          <ion-input ngModel name="email" placeholder="Company Email" required></ion-input>
        </ion-item>
      </ion-list>

      <button ion-button
              type="submit"
              tappable
              block
              [disabled]="!f.valid"
              class="submitButton">Send Code</button>
    </form>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <p class="contact-support">CONTACT SUPPORT</p>

    <ion-grid>
      <ion-row>
        <ion-col col-6 text-right class="contact-phone">
          <ion-icon name="call"></ion-icon> Phone
        </ion-col>

        <ion-col col-6 text-left class="contact-email">
          <ion-icon name="chatbubbles"></ion-icon> Email
        </ion-col>
      </ion-row>
    </ion-grid>


    <p class="footer-copyright">&copy;2018 CarData Consultants</p>
  </ion-toolbar>
</ion-footer>
