page-login {
  .fixed-content {
    /*background-color: #ddeee8;*/
  }

  #loginFormArea {
    //bottom: 80px;

    ion-list {
      margin-bottom: 10px;
    }

    .toggle-icon {
      background-color: #4CD964;
    }

    .toggle-md {
      .toggle-icon {
        background-color: #dddddd;

        .toggle-inner {
          background-color: #ffffff;
        }
      }

      &.toggle-checked {
        .toggle-inner {
          background-color: #4CD964;
        }
      }
    }

    .forgotNewButtons {
      height: 1.6rem;
    }
  }

  .center-pipe {
    padding-top: 9px;
  }

  ion-icon {
    font-size: 50px;
  }

  ion-content {
    contain: size style;
  }
}
