<ion-navbar>
  <ion-buttons left>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>

  <ion-title class="header-title">

  </ion-title>
</ion-navbar>

<!--let the logo have the ios bounce-->
<ion-content>
  <div id="titleArea" text-center>
    <img src="assets/imgs/mi-route-logo.png" alt="Mi-Route | Powered by CarData" id="miRouteLogoImg"/>
  </div>
</ion-content>

<!--remove the ios bounce from the login form as it is buggy-->
<ion-content padding class="show-background-image" no-bounce>
  <!--<ion-grid>-->
    <!--<ion-row>-->
      <!--<ion-col align-self-center>-->


      <!--<div id="loginFormArea" class="fusionInputBox" [class.keyboard-is-showing]="visibility == 'hidden'">-->
      <div id="loginFormArea" class="fusionInputBox">
        <form #f="ngForm" (ngSubmit)="onLogin(f)">

          <ion-list no-lines>
            <ion-item>
              <ion-input type="text" ngModel name="username" [value]="username" placeholder="Username" autocapitalize="off" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" ngModel name="password" [value]="password" placeholder="Password" required></ion-input>
            </ion-item>

            <ion-item text-right>
              <ion-label>Remember Me</ion-label>
              <ion-toggle [checked]="remember_me" (ionChange)="onToggleRemember($event)"></ion-toggle>
            </ion-item>


          </ion-list>

          <button ion-button
                  type="submit"
                  block
                  [disabled]="!f.valid"
                  class="submitButton">Log In</button>

        </form>


        <ion-grid>
          <ion-row>
            <ion-col col-12 text-center>
              <a ion-button
                 clear
                 tappable
                 (click)="onForgot()"
                 class="forgotNewButtons">Forgot Login</a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <!--</ion-col>-->
    <!--</ion-row>-->
  <!--</ion-grid>-->

</ion-content>

<!--add grid so that the keyboard slides over top of the footer-->
<ion-grid>
  <ion-col>
    <ion-row>
      <ion-footer>
        <ion-toolbar>
          <p class="contact-support">CONTACT SUPPORT</p>

          <ion-grid>
            <ion-row>
              <ion-col col-6
                       text-right
                       class="contact-phone"
                       tappable
                       (click)="launchDialer()">
                <ion-icon name="call"></ion-icon> Phone
              </ion-col>

              <ion-col col-6
                       text-left
                       class="contact-email"
                       tappable
                       (click)="mailTo()">
                <ion-icon name="chatbubbles"></ion-icon> Email
              </ion-col>
            </ion-row>
          </ion-grid>


          <p class="footer-copyright">&copy;2018 CarData Consultants</p>
        </ion-toolbar>
      </ion-footer>
    </ion-row>
  </ion-col>
</ion-grid>







