<ion-header>

  <ion-navbar>
    <ion-title>Add New Stop</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngIf="displayAddress">
    <form #newStopForm="ngForm" (ngSubmit)="onSubmit(newStopForm)">
      <ion-list>
        <ion-item class="pr-8">
          <ion-label class="pl-10" floating style="padding-left: .5rem;">Name</ion-label>
          <ion-input #stopName type="text" ngModel name="stopName" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="blue-label" floating>Street Address</ion-label>
          <ion-input *ngIf="newStop.street" [value]="newStop.street" disabled></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="blue-label" floating>City</ion-label>
          <ion-input *ngIf="newStop.city" [value]="newStop.city" disabled></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="blue-label" floating>State</ion-label>
          <ion-input *ngIf="newStop.state" [value]="newStop.state" disabled></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="blue-label" floating>Country</ion-label>
          <ion-input *ngIf="stopCountry" [value]="stopCountry" disabled></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="blue-label" floating>Zip / Postal Code</ion-label>
          <ion-input *ngIf="newStop.zip_postal" [value]="newStop.zip_postal" disabled></ion-input>
        </ion-item>

        <ion-item>
          <button ion-button
                  type="submit"
                  block
                  class="mr-button"
                  tappable
                  [disabled]="stop_submitted">Submit</button>
        </ion-item>
      </ion-list>
    </form>
  </div>

  <button ion-button
          block
          clear
          tappable
          (click)="onCancel()">
    Cancel
  </button>

</ion-content>
