<!--
  Generated template for the MileageEntryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header text-center>

  <ion-navbar>
    <ion-title>mileage-entry</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
