<ion-tabs #mirouteTabs><!--(ionChange)="tabSelected($event)"-->
  <ion-tab [root]="dashboard" tabIcon="fa-tachometer-alt"></ion-tab><!--tabTitle="Dashboard"-->
  <ion-tab [root]="miroutePage" tabIcon="fa-car" [show]="displayPoint2Point"></ion-tab><!--tabTitle="Point 2 Point"-->
  <ion-tab [root]="mileageEntry" tabIcon="fa-car" [show]="displayMileageEntry"></ion-tab><!--tabTitle="Mileage Entry"-->
  <!--<ion-tab [root]="reports" tabIcon="analytics" tabTitle="Reports"></ion-tab>-->
  <ion-tab [root]="review" tabIcon="fa-road"></ion-tab><!--tabTitle="Review Trips"-->
</ion-tabs>
