<ion-header text-center>
  <ion-navbar>
    <ion-buttons left class="position-absolute">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end></ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card *ngIf="userInfo">
    <ion-card-header class="p-0" >
      <ion-item icon-left>
        <i class="fal fa-road blue-icon"></i>
        Today's Trips
      </ion-item>
    </ion-card-header>

    <ion-card-content class="pb-13">
      <ion-grid class="p-0">
        <ion-row *ngIf="trips" style="color: #052460;">
          <ion-col class="p-0" style="height: 43px;">
            <div class="calendar-box">
              <div class="calendar-box__day">
                {{ last_entry_day }}
              </div>
              <div class="calendar-box__month">
                {{ last_entry_month }}
              </div>
            </div>
            <!--<span *ngIf="last_entry_year">, {{ last_entry_year }}</span>-->
          </ion-col>

          <ion-col class="p-0" style="height: 43px;" text-center>
            <span class="trip-miles__text">{{ full_mileage_units_name }}</span>
            <span class="trip-miles__mileage">{{ business_mileage | number:'1.1-1' }}</span>
          </ion-col>

          <ion-col class="p-0" style="height: 43px;" text-right>
            <span class="trip-trips__text">Trips</span>
            <div class="trip-trips__count">
              {{ trips.length ? trips.length - 1 : 0 }}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="p-0">
      <ion-item icon-left>
        <ion-icon class="driver-status-tile-light --{{ street_light_color }}"></ion-icon>
        <span style="display: inline-block; vertical-align: middle;">Driver Status</span>
      </ion-item>
    </ion-card-header>

    <ion-card-content class="pending-tasks">
      <!--TODO: Pending tasks-->
      <div *ngFor="let item of driverStatusItems; let index = i" class="pending-task" [ngClass]="{'--critical': item.color == 'red', '--notify': item.color == 'yellow', '--green': item.color == 'green'}">
        <i class="fas" [ngClass]="{'fa-exclamation-triangle': item.color == 'red', 'fa-exclamation-circle': item.color == 'yellow', 'fa-star-exclamation': item.color == 'green'}"></i> {{ item.title }}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
