page-dashboard {
  .pending-tasks {
    .pending-task {
      border-width: 1px;
      border-style: solid;
      padding: 8px;
      border-radius: 5px;
      margin: 10px 0;

      i {
        margin-right: .25rem;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .--critical {
      border-color: #910811 !important;

      i {
        color: #910811;
      }
    }

    .--notify {
      border-color: #ffc107 !important;

      i {
        color: #ffc107;
      }
    }

    .--green {
      border-color: #33ff33 !important;

      i {
        color: #33ff33;
      }
    }
  }
}
