<ion-header>

  <ion-navbar>
    <ion-title>Edit Trip</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="fusionInputBoxNotFixed">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="trip">
      <ion-grid>
        <ion-row>
          <ion-col>
            <span *ngIf="!use_stop_contract && !use_tickets" class="bottom-align">Business Purpose</span>
            <span *ngIf="use_stop_contract && !use_tickets" class="bottom-align">Contract Number</span>
            <span *ngIf="use_stop_contract && use_tickets" class="bottom-align">Contract or<br>Ticket #</span>
          </ion-col>
          <ion-col>
            <ion-input type="text" [(ngModel)]="trip.business_purpose" step=".1" name="business_purpose"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col><span class="bottom-align">Original Mileage</span></ion-col>
          <ion-col>
            <ion-input type="number" [(ngModel)]="trip.mileage_original" name="mileage_original" disabled></ion-input>
            <span class="bottom-align-right">{{mileage_label}}.</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col><span class="align-bottom">Mileage Adjustment (+/-)</span></ion-col>
          <ion-col>
            <ion-input *ngIf="platform.is('android')" type="tel" [(ngModel)]="pre_mileage_adjusted"
                       name="mileage_adjusted" (ionChange)="addThese()" (ionBlur)="checkAdjusted()"></ion-input>
            <ion-input *ngIf="!platform.is('android')" type="number" [(ngModel)]="pre_mileage_adjusted"
                       name="mileage_adjusted" (ionChange)="addThese()" (ionBlur)="checkAdjusted()"></ion-input>
            <span class="bottom-align-right">{{mileage_label}}.</span>
          </ion-col>
        </ion-row>

        <hr>

        <ion-row>
          <ion-col>
            <span class="align-bottom">Total Mileage</span>
          </ion-col>
          <ion-col>
            <ion-input type="number" disabled
                       [value]="combined_mileage | number:'1.1-1'"></ion-input>
            <span class="bottom-align-right">{{ mileage_label }}.</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <span class="align-bottom">Adjustment Reason</span>
          </ion-col>
          <ion-col>
            <ion-input type="text" [(ngModel)]="trip.mileage_comment" name="mileage_comment"></ion-input>
          </ion-col>
        </ion-row>


      </ion-grid>
    </form>
  </div>


  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button
                block
                tappable
                (click)="onCancel()">Cancel
        </button>
      </ion-col>
      <ion-col>
        <button ion-button
                block
                tappable
                [disabled]="submit_disabled"
                (click)="onSubmit()">Submit
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
