<!--
  Generated template for the RegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header text-center>

  <ion-navbar>
    <ion-title>Mi-Route Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h2>Oh, Hai!</h2>
</ion-content>
