<ion-toolbar>
  <p class="contact-support">CONTACT SUPPORT</p>

  <ion-grid>
    <ion-row>
      <ion-col col-6 text-right class="contact-phone">
        <ion-icon name="call"></ion-icon> Phone
      </ion-col>

      <ion-col col-6 text-left class="contact-email">
        <ion-icon name="chatbubbles"></ion-icon> Email
      </ion-col>
    </ion-row>
  </ion-grid>


  <p class="footer-copyright">&copy;2018 CarData Consultants</p>
</ion-toolbar>
