<ion-header text-center>
  <ion-navbar>
    <ion-title class="header-title">
      Information and FAQ
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-card>
  <ion-card-header>
    Commonly Asked Questions
  </ion-card-header>

  <ion-list>
    <button *ngFor="let q of questions; let i = index"
            ion-item
            tappable
            (click)="displayAnswer(i)" text-wrap>
      <ion-icon name="help-circle"></ion-icon>
      {{ q }}

      <div *ngIf="display_answer_index == i" style="margin-top: 1rem; border: 1px solid grey; font-style: italic; padding: 1rem; font-size: small;" [innerHtml]="answers[i]">
      </div>
    </button>
  </ion-list>
</ion-card>
</ion-content>
