<ion-header text-center>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Reports</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

</ion-content>
