<ion-menu [content]="nav">
<ion-header text-center>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <ion-list>

      <button ion-item
              icon-left
              tappable
              (click)="onLoad(loginPage)"
              *ngIf="!isAuthenticated">
        <ion-icon name="log-in"></ion-icon>
        Log In
      </button>

      <button ion-item
              icon-left
              tappable
              (click)="onLogout()"
              *ngIf="isAuthenticated">
        <i class="fas fa-sign-out-alt"></i>
        Log Out
      </button>

      <!--<button ion-item
              icon-left
              tappable
              (click)="onLoad(settingsPage)">
        <i class="fas fa-cog"></i>
        Settings
      </button>-->

      <button ion-item
              icon-left
              tappable
              (click)="onLoad(infoPage)">
        <i class="fas fa-info-circle"></i>
      About
      </button>

      <!--<button ion-item
              icon-left
              tappable
              (click)="onLoad(testPage)">
        <i class="fas fa-wrench"></i>
        Test Page
      </button>-->

    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>
