// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// for iOS iPhone x
html, body {
  height: 100%;
  min-height: 500px;
}
body {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

#miRouteLogoImg {
  height: 50px;
  margin-top: 3rem;
}

// Header
page-login { // just add page name
  .toolbar-background-md {
    background: transparent;
    border-color: transparent;
  }

  .header-md::after {
    display: none;
  }
}

// Title Bar & Menu Buttons (i.e. Bars, Back, Home, etc.)
.bar-button-menutoggle, .back-button, .toolbar-title {
  color: #052460 !important;
}

ion-buttons.bar-buttons {
  position: absolute;
  &[start] {
    left: 0;
  }
  &[end] {
    right: 0;
  }
}

.back-button {
  position: absolute;
  z-index: 999;
}

// Content
.content {
  background-color: #dddddd;
  min-height: 100%;
  //margin-bottom: -113px;
  //padding-bottom: 113px;

  ion-item {
    background-color: transparent;

    ion-label {
      //color: color($colors, cardata-blue, base);
    }

    ion-input[type=number], ion-input[type=text], ion-input[type=password] {
      background-color: #ffffff;
      border-radius: 3px; // davery
      padding-left: 1rem;
      padding-right: 1rem;
    }

    button[type=submit] {
      background-color: color($colors, cardata-blue, base);
    }
  }
}

.show-background-image {
  &.content {
    background-image: url(../assets/imgs/original_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 56%; // footer height

    //&.keyboard-is-showing {
    //  //background-position: 56%;
    //}
  }
}

// Trips
// Trips Calendar Box
.calendar-box {
  border-radius: 3px;
  color: #052460;
  overflow: hidden;
  text-align: center;
  width: 33px;
}

.calendar-box__day {
  background: #052460;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  padding-top: 1px;
}

.calendar-box__month {
  background: #ddd;
  font-size: 11px;
  font-weight: 500;
  padding: 0;
  text-transform: uppercase;
}

// Trip Miles
.trip-miles__text {
  display: block;
  font-size: 12px;
  margin-top: -5px;
  text-transform: uppercase;
}

.trip-miles__mileage {
  font-size: 28px;
  font-weight: bold;
  line-height: normal;
}

// Trip Count
.trip-trips__text {
  display: block;
  font-size: 12px;
  margin-top: -5px;
  text-transform: uppercase;
}

.trip-trips__count {
  float: right;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  margin-top: 3px;
  text-align: center;
  width: 31px;
}

// Trip Map
.trip-map {
  border-top: 2px solid #ddd;
}

.route-map {
  border-top: 2px solid #ddd;
}

/* - Trip Card -
   Needed styles differing from Dashboard Trip Tile
*/
.trip-card-wrapper {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  overflow: hidden;

  .trip-card {
    padding: 10px 10px 6px;

    ion-row {
      color: #052460;
    }

    ion-col {
      height: 43px;
      padding: 0;
    }

    .calendar-box__day, .calendar-box__month {
      padding: 1px 0;
    }
    .calendar-box__day {
      padding-top: 2px;
    }

    .trip-miles__text, .trip-trips__text {
      margin-top: -2px;
    }
  }
}

// ios trips
.ios {
  .calendar-box {
    width: 31px;
  }
  .calendar-box__day {
    padding: 1px 0 0;
  }
  .calendar-box__month {
    padding: 0;
  }
}

// Footer
ion-footer {
  background-color: #f8f8f8;
  //border-top: 2px solid #ddd;
  color: color($colors, cardata-blue, base);
  position: fixed;
  text-align: center;
  z-index: 1 !important;
  padding: 0; // because apple
  bottom: 0;
  //transform: translateY(-150%);

  .contact-support {
    font-size: 1.6rem;
    //font-weight: bold;
    margin: 26px 0 0 0;
  }

  .footer-copyright {
    color: #aaa;
    font-size: 1.25rem;
    margin: 5px 0 0 0;
  }

  ion-icon, .contact-phone, .contact-email {
    font-size: 16px !important;
    font-weight: bold;
  }

  .contact-phone {
    padding-right: 10px;
  }

  .contact-email {
    padding-left: 10px;
  }

  .toolbar-background {
    border: 0 !important;
  }
}

.fusionInputBox {
  background-color: #fff;
  bottom: 120px;
  color: color($colors, cardata-blue, base);
  padding: 15px 10px 10px;
  border-radius: 10px;
  width: 90%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  //margin-left: auto;
  //margin-right: auto;
  z-index: 11;
  //margin-left: -15px; // only in browser
  border: 1px solid #ccc;
	transition-property: bottom;
	transition-duration: 0.5s;

  // removes the default undesirable border-bottom
  .list-md .item-input:last-child,
  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child,
  .list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child,
  .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner,
  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  ion-item, .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom: none;
    box-shadow: none;
  }

  input {
    border-bottom: 1px solid color($colors, cardata-blue, base);
    color: color($colors, cardata-blue, base);
    //font-weight: normal;
  }

  .select-md .select-icon .select-icon-inner {
    //margin-right: 5px;
    left: 0 !important;
  }

  .item .item-inner {
    padding-right: 16px !important;
  }

  .item-md, .item-md.item-block .item-inner {
    padding: 0 !important;
  }

  .text-input-md {
    margin: 13px 0;
    width: 100%;
    padding: 0 5px 5px;
  }

  ion-label {
    color: color($colors, cardata-blue, base);
  }

  .submitButton {
    background-color: color($colors, cardata-blue, base);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .forgotNewButtons {
    color: color($colors, cardata-blue, base);
    //font-weight: lighter;
  }

  .button-inner {
    //height: 99% !important;
  }

  &.keyboard-is-showing {
    top: calc(6rem + 50px);
    bottom: initial !important;
  }
}

#miRouteLogoImg

.driver-status-tile-light {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: 1px 5px 3px 1px;
  vertical-align: middle;
}

.fusionInputBoxNotFixed {
  background-color: #fff;
  bottom: 93px;
  color: color($colors, cardata-blue, base);
  padding: 15px 10px 10px;
  border-radius: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  z-index: 11;
  //margin-left: -15px; // only in browser
  border: 1px solid #ccc;

  // removes the default undesirable border-bottom
  .list-md .item-input:last-child,
  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child,
  .list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child,
  .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner,
  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  ion-item, .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom: none;
    box-shadow: none;
  }

  .bottom-align {
    display: inline-block; position: absolute; padding-bottom: 16px; bottom: 0;
  }

  .bottom-align-right {
    display: inline-block; position: absolute; padding-bottom: 16px; bottom: 0; right: 0;
  }

  input {
    border-bottom: 1px solid color($colors, cardata-blue, base);
    color: color($colors, cardata-blue, base);
    //font-weight: normal;
  }

  .select-md .select-icon .select-icon-inner {
    //margin-right: 5px;
    left: 0 !important;
  }

  .item .item-inner {
    padding-right: 16px !important;
  }

  .item-md, .item-md.item-block .item-inner {
    padding: 0 !important;
  }

  .text-input-md {
    margin: 13px 0;
    width: 100%;
    padding: 0 5px 5px;
  }

  ion-label {
    color: color($colors, cardata-blue, base);
  }

  .submitButton {
    background-color: color($colors, cardata-blue, base);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .forgotNewButtons {
    color: color($colors, cardata-blue, base);
    //font-weight: lighter;
  }

  .button-inner {
    //height: 99% !important;
  }
}

.driver-status-tile-light {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: 1px 5px 3px 1px;
  vertical-align: middle;
}

.driver-status-tile-light.--green {
  background-color: #33ff33;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .3), inset 0px 0px 10px 3px rgba(26, 128, 26, .9);
}

.driver-status-tile-light.--red {
  background-color: #f00;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .3), inset 0px 0px 10px 3px rgba(128, 0, 0, .9);
}

.driver-status-tile-light.--yellow {
  background-color: #fff91e;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .3), inset 0px 0px 10px 3px rgba(128, 0, 0, .9);
}

// Point-to-Point Light Buttons
.point-to-point-light {
  border: 15px solid #fff;
  border-radius: 50%;
  height: 250px !important;
  margin: 0 auto;
  text-transform: uppercase;
  vertical-align: middle;
  width: 250px;

  span {
    color: #fff;
    font-size: 28px !important;
    font-weight: 500;
    letter-spacing: .2rem;
    text-shadow: 0 0 13px rgba(0, 0, 0, .5);
  }

  &.--start {
    background-color: #33ff33 !important;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, .3), inset 0px 0px 150px 30px rgba(26, 128, 26, .9);

    &:hover {
      background-color: #33ff33 !important;
    }
  }

  &.--arrive {
    background-color: #F00 !important;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, .3), inset 0px 0px 150px 30px rgba(128, 0, 0, .9);

    &:hover {
      background-color: #F00 !important;
    }
  }

  &.--submit-stop {
    background-color: #488aff !important;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, .3), inset 0px 0px 150px 30px #052460;

    span {
      font-size: 24px !important;
    }

    &:hover {
      background-color: #488aff !important;
    }
  }
}

// Ion Card
ion-card {
  margin: 16px !important;
  width: auto !important;
}

// Tabs
.tab-button[aria-selected=true] .tab-button-icon {
  color: #052460 !important;

  &:before {
    font-weight: bold;
  }
}

// Font Awesome Icons
.blue-icon {
  color: #052460;
}

.fa-icons-general {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-family: 'Font Awesome 5 Pro';
  font-size: inherit;
  font-weight: 300;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.ion-ios-fa-tachometer-alt::before,
.ion-ios-fa-tachometer-alt-outline::before,
.ion-md-fa-tachometer-alt::before {
  @extend .fa-icons-general;
  content: "\f3fd";
}

.ion-ios-fa-car::before,
.ion-ios-fa-car-outline::before,
.ion-md-fa-car::before {
  @extend .fa-icons-general;
  content: "\f1b9";
}

.ion-ios-fa-road::before,
.ion-ios-fa-road-outline::before,
.ion-md-fa-road::before {
  @extend .fa-icons-general;
  content: "\f018";
}

// Padding
.p-0 {
  padding: 0 !important;
}

// right
.pr-8 {
  padding-right: 8px !important;
}

// padding left
.pl-10 {
  padding-left: 10px !important;
}

// padding-bottom
.pb-0 {
  padding-bottom: 0 !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.pb-13 {
  padding-bottom: 13px !important;
}

// Margin
.m-0 {
  margin: 0 !important;
}

// top
.mt-20 {
  margin-top: 20px !important;
}


// bottom
.mb-15 {
  margin-bottom: 15px !important;
}

// Positioning
.position-absolute {
  position: absolute !important;
}

/*@media screen and (max-height: 500px) {
  #loginFormArea {
    top: 2rem;
    bottom: initial !important;
  }
}*/

.contracts .alert-tappable {
  min-height: 0.4rem !important;
  line-height: 0.7 !important;
}
