<ion-header text-center>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Point 2 Point</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>You are here</h2>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="locationSet">
      <ion-col>
        <agm-map [latitude]="location.lat" [longitude]="location.lng" [gestureHandling]="'cooperative'" [zoom]="16">
          <agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
        </agm-map>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
