page-miroute-stopped {
  agm-map {
    height: 250px;
  }

  .item-map {
    margin-top: 20px;

    ion-label {
      border-radius: 4px;
    }
  }

  // select styled
  ion-select {
    background: #fff;
    border-radius: 3px;
  }

  .fa-1_5x {
    font-size: 1.5em;
  }

  .depart-page-text {
    background: #fff;
    border-left: 3px solid #052460;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 16px;
    font-size: 16px;

    .last-stop-name {
      display: block;
      margin-bottom: 10px;
    }
  }

  // remove blue line on input focus
  .item-input.item-input-has-focus .item-inner,
  .item-input.input-has-focus .item-inner {
    border-bottom: none !important;
    box-shadow: none !important;
  }

  // removes red line on input when left empty
  .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom: none !important;
    box-shadow: none !important;
  }

  // change label color on input focus
  .item-input-has-focus ion-label,
  .item-input-has-focus ion-label {
    color: #052460 !important;
  }

  // removes left: -5px on select dropdown arrow
  .select-icon .select-icon-inner {
    left: 0 !important;
  }

  ion-item.stop-submitted ion-label {
    white-space: normal;
  }

  .mr-button {
    height: 36.4px !important;
  }

  .submit-button {
    ion-label {
      margin-bottom: 0 !important;
      margin-right: 0 !important;
    }
  }

  .end-day-button {
    padding: 0;
    text-align: center;
    background: #fff;
    border: 1px solid #000;
    //border-radius: 50%;
    border-radius: 5px;
    font-size: 10px;
    height: 42px;
    margin: 0;
    width: 42px;

    i {
      display: block;
      margin-bottom: 5px;
    }
  }
}
