<ion-header>
  <ion-navbar>
    <ion-buttons left class="position-absolute">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="header-title" text-center>
      At a Stop
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div padding text-right class="pb-0">
      <button type="button"
              item-right
              clear
              tappable
              (click)="onEndDay()"
              class="end-day-button">
        <i class="fas fa-flag-checkered fa-1_5x"></i> End Day
      </button>
    </div>

    <div *ngIf="stopIsSubmitted" text-center>
      <button ion-button
              type="button"
              tappable
              (click)="onDepart()"
              class="point-to-point-light --start"
              [disabled]="departed">
        <span>DEPART</span>
      </button>
    </div>

    <div *ngIf="userInfo && !stopIsSubmitted" text-center>
      <button id="submitStopButton"
              ion-button
              tappable
              type="submit"
              class="point-to-point-light --submit-stop"
              [disabled]="!f.valid || !stopIsSelected || disable_submit_button">
        <span>SUBMIT STOP</span>
      </button>
    </div>

    <div *ngIf="userInfo && stopIsSubmitted" padding class="mt-20">
      <div class="depart-page-text">
        <span class="last-stop-name">You are currently at {{ stopName }}.</span>
        You can end your day or depart on another trip.
      </div>
    </div>

    <ion-item *ngIf="got_stops_from_server && !stopIsSubmitted" class="pr-8">
      <ion-label class="pl-10" floating>Current Location</ion-label>
      <ion-select class="pl-10" #stop_select ngModel name="starting_location" (ionChange)="onSelectStop($event)">
        <ion-option *ngFor="let stop of stops; let i = index" [value]="i">{{ stop.name }}</ion-option>
        <ion-item-divider></ion-item-divider>
        <ion-option value="new">
          <span *ngIf="false"><!-- do not add spaces or comments in the next line! --></span>
          <span *ngIf="stops.length">Or c</span><span *ngIf="!stops.length">C</span>reate a new stop
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="!got_stops_from_server && !stopIsSubmitted" class="pr-8">
      <ion-label class="pl-10" floating>Finding nearby locations</ion-label>
      <ion-select class="pl-10" disabled>

      </ion-select>
    </ion-item>

    <ion-list no-lines>
      <ion-item *ngIf="!use_stop_contract && !stopIsSubmitted" class="pr-8">
        <ion-label class="pl-10" floating style="padding-left: .5rem;">Business Purpose</ion-label>
        <ion-input type="text" ngModel name="business_purpose" required></ion-input>
      </ion-item>

      <ion-item *ngIf="use_stop_contract && !stopIsSubmitted" class="pr-8">
        <ion-label class="pl-10" floating>Contract <span *ngIf="use_tickets">or Ticket</span> Number</ion-label>
        <ion-select #contract_select="ngModel" ngModel name="contract_number" (ionChange)="onSelectContract($event)" class="pl-10">
          <ion-option *ngFor="let ticket of selected_tickets; let i = index" [value]="ticket">{{ ticket }}</ion-option>
          <ion-option *ngFor="let contract of selected_contracts; let i = index" [value]="contract">{{ contract }}</ion-option>
          <ion-option value="Other">Other</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="showOtherContract && !stopIsSubmitted" class="pr-8">
        <ion-label class="pl-10" floating style="padding-left: .5rem;">Enter Contract <span *ngIf="use_tickets">or Ticket</span></ion-label>
        <ion-input type="number" #other_contract="ngModel" ngModel name="other_contract" required minlength="4"
                   maxlength="6"></ion-input>
      </ion-item>

      <!--<ion-item color="danger" *ngIf="use_stop_contract && contractNumber && contractNumber.value.length && contractNumber.value.length != 4">
        <span class="error" color="danger">A contract number must be 4 digits.</span>
      </ion-item>-->

      <ion-item *ngIf="locationIsSet" class="item-map">
        <agm-map [latitude]="location.lat" [longitude]="location.lng" [zoom]="16" [gestureHandling]="'cooperative'"
                 [zoomControl]="true" [streetViewControl]="false" [fullscreenControl]="false" [mapTypeControl]="false">
          <agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
        </agm-map>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
