<ion-navbar>
  <ion-buttons left class="position-absolute">
    <button *ngIf="header_data.ismenu" ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>

  <ion-buttons end class="position-absolute">
    <button  *ngIf="header_data.ishome"
             ion-button
             icon-only
             tappable
             (click)="navCtrl.popToRoot()">
      <ion-icon name="home"></ion-icon>
    </button>
  </ion-buttons>

  <ion-title class="header-title">
    {{header_data.title}}
  </ion-title>
</ion-navbar>
