page-miroute-start {
  agm-map {
    height: 250px;
  }

  .item-map {
    margin-top: 20px;

    ion-label {
      border-radius: 4px;
    }
  }

  /*
    It appears that ionic does not like to allow overrides in app.scss,
    you have to explicitly override in template.scss files
  */
  // remove blue line on input focus
  .item-input.item-input-has-focus .item-inner,
  .item-input.input-has-focus .item-inner {
    border-bottom: none !important;
    box-shadow: none !important;
  }

  // removes red line on input when left empty
  .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom: none !important;
    box-shadow: none !important;
  }

  // change label color on input focus
  .item-input-has-focus, .input-has-focus,
  .item-input-has-focus, .input-has-focus {
    color: #052460 !important;
  }

  // select styled
  ion-select {
    background: #fff;
    border-radius: 3px;
  }

  // removes left: -5px on select dropdown arrow
  .select-md .select-icon .select-icon-inner {
    left: 0;
  }
}
