<ion-header text-center>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end></ion-buttons>
    <ion-title>Start Day</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div padding text-center>
      <button type="submit"
              tappable
              class="point-to-point-light --start"
              [disabled]="!f.valid || !stopIsSelected || stopIsSubmitted"><span>START</span></button>
    </div>


    <ion-list no-lines>
      <ion-item class="pr-8">

        <ion-label *ngIf="last_ending_odometer" stacked text-right style="margin-bottom: -25px;">Last Ending Odometer: {{ last_ending_odometer }}</ion-label>
        <ion-label floating class="pl-10">Starting Odometer</ion-label>
        <ion-input type="number" ngModel name="starting_odometer" [value]="last_starting_odometer" required></ion-input>
        <div>stuff</div>
      </ion-item>

      <ion-item *ngIf="got_stops_from_server" class="pr-8">
        <ion-label floating class="pl-10">Starting Location</ion-label>
        <ion-select #stop_select ngModel name="starting_location" (ionChange)="onSelectStop($event)" class="pl-10">
          <ion-option *ngFor="let stop of stops; let i = index" [value]="i">{{ stop.name }}</ion-option>
          <ion-item-divider></ion-item-divider>
          <ion-option value="new">
            <span *ngIf="false"><!-- do not add spaces or comments in the next line! --></span>
            <span *ngIf="stops.length">Or c</span><span *ngIf="!stops.length">C</span>reate a new stop</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="!got_stops_from_server" class="pr-8">
        <ion-label class="pl-10" floating>Finding nearby locations</ion-label>
        <ion-select class="pl-10" disabled>

        </ion-select>
      </ion-item>

      <ion-item *ngIf="!use_stop_contract" class="pr-8">
        <ion-label floating class="pl-10">Business Purpose</ion-label>
        <ion-input type="text" ngModel name="business_purpose" required></ion-input>
      </ion-item>

      <ion-item *ngIf="use_stop_contract" class="pr-8">
        <ion-label floating class="pl-10">Contract <span *ngIf="use_tickets">or Ticket</span> Number</ion-label>
        <ion-select [selectOptions]="{cssClass: 'contracts'}" #contract_select="ngModel" ngModel name="contract_number" (ionChange)="onSelectContract($event)" class="pl-10">
          <ion-option *ngFor="let ticket of selected_tickets; let i = index" [value]="ticket">{{ ticket }}</ion-option>
          <ion-option *ngFor="let contract of selected_contracts; let i = index" [value]="contract">{{ contract }}</ion-option>
          <ion-option value="Other">Other</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="showOtherContract" class="pr-8">
        <ion-label floating class="pl-10">Enter Contract <span *ngIf="use_tickets">or Ticket</span> Number</ion-label>
        <ion-input type="number" #other_contract="ngModel" ngModel name="other_contract" required minlength="4" maxlength="6"></ion-input>
      </ion-item>

      <!--<ion-item color="danger" *ngIf="use_stop_contract && contractNumber && contractNumber.value.length && contractNumber.value.length != 4">
        <span class="error" color="danger">A contract number must be 4 digits.</span>
      </ion-item>-->



      <ion-item *ngIf="locationIsSet" class="item-map">
        <agm-map [latitude]="location.lat" [longitude]="location.lng" [gestureHandling]="'cooperative'" [zoom]="16" [streetViewControl]="false" [fullscreenControl]="false" [mapTypeControl]="false">
          <agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
        </agm-map>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
