
<ion-header>
  <ion-navbar>
    <ion-buttons left class="position-absolute">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="header-title" text-center>
      Driving
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div padding text-right class="pb-0">
    <button type="button"
            item-right
            clear
            tappable
            (click)="onEndDay()"
            class="end-day-button">
      <i class="fas fa-flag-checkered fa-1_5x"></i> End Day
    </button>
  </div>

  <div text-center class="mb-15">
    <button ion-button
            block
            tappable
            (click)="onArrive()"
            class="point-to-point-light --arrive"
            [disabled]="disable_arrive_button">
      <span>Arrive</span>
    </button>
  </div>

<ion-list no-lines>

  <ion-item text-center>
    <hr class="blue-hr-70px">
  </ion-item>

  <ion-item text-center *ngIf="last_stop_name" class="remove-no-wrap">
    You are driving from {{ last_stop_name }}
  </ion-item>
</ion-list>
</ion-content>
