page-miroute-driving {
  .fa-1_5x {
    font-size: 1.5em;
  }

  .blue-hr-70px {
    background-color: #052460;
    height: 1px;
    width: 70px;
  }

  /*.end-day-button {
    background: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    height: 42px;
    margin: 0;
    width: 42px;
  }*/

  .end-day-button {
    padding: 0;
    text-align: center;
    background: #fff;
    border: 1px solid #000;
    //border-radius: 50%;
    border-radius: 5px;
    font-size: 10px;
    height: 42px;
    margin: 0;
    width: 42px;

    i {
      display: block;
      margin-bottom: 5px;
    }
  }

  .remove-no-wrap ion-label {
    white-space: unset;
    line-height: 24px;
  }
}
