page-miroute-end {
  agm-map {
    height: 250px;
  }

  .mr-button {
    height: 36.4px !important;
  }

  .submit-button {
    ion-label {
      margin-bottom: 0 !important;
      margin-right: 0 !important;
    }
  }

  // remove blue line on input focus
  .item-input.item-input-has-focus .item-inner,
  .item-input.input-has-focus .item-inner {
    border-bottom: none !important;
    box-shadow: none !important;
  }

  // removes red line on input when left empty
  .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom: none !important;
    box-shadow: none !important;
  }

  // change label color on input focus
  .item-input-has-focus ion-label,
  .item-input-has-focus ion-label {
    color: #052460 !important;
  }

  #map {
    height: 250px;
  }
}
