<ion-header>
  <ion-navbar>
    <ion-buttons left class="position-absolute">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="header-title" text-center>
      End Day
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list no-lines>
      <ion-item class="pr-8">
        <ion-label style="padding-bottom: 5px;" stacked>Starting Odometer: {{ last_starting_odometer }}</ion-label>
        <ion-input #ending_odometer type="number" ngModel name="ending_odometer"
                   [placeholder]="'Ending Odometer (' + day_to_end +')'" required></ion-input>
      </ion-item>

      <ion-item class="pr-8 submit-button">
        <button ion-button
                type="submit"
                tappable
                class="mr-button m-0"
                block
                [disabled]="!f.valid">
          SUBMIT ODOMETER
        </button>
      </ion-item>
    </ion-list>
  </form>

  <div padding style="padding-bottom: 0 !important; margin-bottom: 0 !important;">
    <div class="trip-card-wrapper" *ngIf="userInfo">
      <ion-grid class="trip-card">
        <ion-row *ngIf="trips">
          <ion-col>
            <div class="calendar-box">
              <div class="calendar-box__day">
                {{ last_entry_day }}
              </div>
              <div class="calendar-box__month">
                {{ last_entry_month }}
              </div>
            </div>
            <!--<span *ngIf="last_entry_year">, {{ last_entry_year }}</span>-->
          </ion-col>

          <ion-col text-center>
            <span class="trip-miles__text">{{ full_mileage_units_name }}</span>
            <span class="trip-miles__mileage">{{ business_mileage | number:'1.1-1' }}</span>
          </ion-col>

          <ion-col text-right>
              <span class="trip-trips__text">Trips</span>
              <div class="trip-trips__count">
                {{ trips.length ? trips.length - 1 : 0 }}
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <route-map *ngIf="display_route_map" [trips]="trips"></route-map>
      <agm-map *ngIf="display_agm_map" [latitude]="trips[0].stop.latitude" [longitude]="trips[0].stop.longitude" [gestureHandling]="'cooperative'" [zoom]="16" [streetViewControl]="false" [fullscreenControl]="false" [mapTypeControl]="false">
        <agm-marker [latitude]="trips[0].stop.latitude" [longitude]="trips[0].stop.longitude"></agm-marker>
      </agm-map>
    </div>
  </div>

  <ion-card style="margin-top: 0 !important; border-top: 2px solid #dddddd;">
    <ion-card-header>
      Trips for {{ last_entry_month }} {{ last_entry_day }}
    </ion-card-header>

    <ion-list *ngIf="trips" >
      <ion-item *ngFor="let trip of trips; let i = index" [ngClass]="{active: isShownGroup(i)}">
        <span tappable
              (click)="toggleGroup(i)">
          <ion-icon color="success" icon-left
                    [name]="isShownGroup(i) ? 'arrow-dropup-circle' : 'arrow-dropright-circle'"></ion-icon>
                    <span *ngIf="!isShownGroup(i) || (isShownGroup(i) && i == 0)">{{ trip.stop.name }}</span>
                    <span *ngIf="i > 0 && !isShownGroup(i)">- {{ addThese(trip.mileage_original, trip.mileage_adjusted) | number:'1.1-1' }} {{userInfo.mileage_label}}.</span>
                    <span *ngIf="i > 0 && isShownGroup(i)">{{ trips[i - 1].stop.name }} <span class="fas fa-arrow-alt-right"></span> {{ trip.stop.name }}</span>
        </span>

        <ion-grid *ngIf="i == 0 && isShownGroup(i)">
          <ion-row>
            <ion-col col-10 text-wrap>{{ trip.stop.street }}</ion-col>
            <!--<ion-col text-right>
              <button ion-button small color="danger" #removeButton (tap)="onRemoveTrip(i)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </ion-col>-->
            <!--<ion-col>
              <button ion-button small color="cardata-blue" #editButton (tap)="onShowEditTrip(trip)">
                <i class="fas fa-pencil"></i>
              </button>
            </ion-col>-->
          </ion-row>
        </ion-grid>

        <ion-grid *ngIf="i > 0 && isShownGroup(i)">
          <ion-row>
            <ion-col col-6>
              <span *ngIf="!use_stop_contract && !use_tickets">Business Purpose</span>
              <span *ngIf="use_stop_contract && !use_tickets">Contract Number</span>
              <span *ngIf="use_stop_contract && use_tickets">Contract or<br>Ticket #</span>
            </ion-col>
            <ion-col text-wrap text-center>Mileage Orig.</ion-col>
            <ion-col text-wrap text-center>Mileage Adj.</ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>{{ trip.business_purpose }}</ion-col>
            <ion-col text-center>{{ trip.mileage_original | number:'1.1-1' }} {{ userInfo.mileage_label }}.</ion-col>
            <ion-col text-center>{{ trip.mileage_adjusted | number:'1.1-1' }} {{ userInfo.mileage_label }}.</ion-col>
          </ion-row>

          <ion-row *ngIf="!edit_mode">
            <ion-col col-6></ion-col>
            <ion-col text-center>
              <!--<button ion-button small color="danger" #removeButton (tap)="onRemoveTrip(i)">
                <i class="fas fa-trash-alt"></i>
              </button>-->
            </ion-col>
            <ion-col text-center>
              <button *ngIf="can_edit_mileage" ion-button small color="cardata-blue" #editButton (tap)="onShowEditTrip(trip)">
                <i class="fas fa-pencil"></i>
              </button>
            </ion-col>
          </ion-row>

          <!--<ion-row *ngIf="edit_mode">
            <ion-col col-6></ion-col>
            <ion-col text-center>
              <button ion-button block small color="danger" (tap)="onCancelEdit(i)">Cancel</button>
            </ion-col>
            <ion-col text-center>
              <button ion-button block small color="cardata-blue" (tap)="onUpdateTrip(i)">Update</button>
            </ion-col>
          </ion-row>-->
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
