<ion-header text-center>
  <ion-navbar>
    <ion-buttons left class="position-absolute">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end></ion-buttons>
    <ion-title>Review Trips</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div padding style="margin-bottom: 0 !important; padding-bottom: 0 !important;">
    <div class="trip-card-wrapper">
      <ion-grid class="trip-card" *ngIf="userInfo">
        <ion-row>
          <ion-col text-left *ngIf="last_starting_odometer > 0">
            <small>Starting Odometer</small>
            <br>
            {{ last_starting_odometer }}
          </ion-col>
          <ion-col *ngIf="last_starting_odometer == null"></ion-col>
          <ion-col text-right *ngIf="last_ending_odometer">
            <small>Ending Odometer</small>
            <br>
            {{ last_ending_odometer }}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="trips">
          <ion-col>
            <div class="calendar-box">
              <div class="calendar-box__day">
                {{ last_entry_day }}
              </div>
              <div class="calendar-box__month">
                {{ last_entry_month }}
              </div>
            </div>
            <!--<span *ngIf="last_entry_year">, {{ last_entry_year }}</span>-->
          </ion-col>

          <ion-col text-center>
            <span class="trip-miles__text">{{ full_mileage_units_name }}</span>
            <span class="trip-miles__mileage">{{ business_mileage | number:'1.1-1' }}</span>
          </ion-col>

          <ion-col text-right>
            <span class="trip-trips__text">Trips</span>
            <div class="trip-trips__count">
              {{ trips.length ? trips.length - 1 : 0 }}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <route-map *ngIf="display_route_map" [trips]="trips"></route-map>
      <agm-map *ngIf="display_agm_map" [latitude]="trips[0].stop.latitude" [longitude]="trips[0].stop.longitude"
               [gestureHandling]="'cooperative'"
               [zoom]="16" [streetViewControl]="false" [fullscreenControl]="false" [mapTypeControl]="false">
        <agm-marker [latitude]="trips[0].stop.latitude" [longitude]="trips[0].stop.longitude"></agm-marker>
      </agm-map>

      <div *ngIf="display_current_location" style="padding: 1rem; text-align: center;">Trips and location will display when you have made your first stop.</div>
      <!-- <agm-map *ngIf="display_current_location && userInfo.country != null"
               [latitude]="userInfo.country == 'US' ? 37.0902 : 56.1304"
               [longitude]="userInfo.country == 'US' ? -95.7129 : -106.3468"
               [gestureHandling]="'cooperative'"
               [zoom]="3" [streetViewControl]="false" [fullscreenControl]="false" [mapTypeControl]="false">
        <agm-marker [latitude]="userInfo.country == 'US' ? 37.0902 : 56.1304"
                    [longitude]="userInfo.country == 'US' ? -95.7129 : -106.3468"></agm-marker>
      </agm-map> -->
    </div>
  </div>

  <ion-card style="margin-top: 0 !important; border-top: 2px solid #dddddd;">


    <ion-list *ngIf="trips">
      <ion-item *ngFor="let trip of trips; let i = index" [ngClass]="{active: isShownGroup(i)}">
        <span tappable
              (click)="toggleGroup(i)">
          <ion-icon color="success" icon-left
                    [name]="isShownGroup(i) ? 'arrow-dropup-circle' : 'arrow-dropright-circle'"></ion-icon>
                    <span *ngIf="!isShownGroup(i) || (isShownGroup(i) && i == 0)">{{ trip.stop.name }}</span>
                    <span *ngIf="i > 0 && !isShownGroup(i)">- {{ addThese(trip.mileage_original, trip.mileage_adjusted) | number:'1.1-1' }} {{userInfo.mileage_label}}.</span>
                    <span *ngIf="i > 0 && isShownGroup(i)">{{ trips[i - 1].stop.name }} <span
                      class="fas fa-arrow-alt-right"></span> {{ trip.stop.name }}</span>
        </span>

        <ion-grid *ngIf="i == 0 && isShownGroup(i)" style="border-bottom: 2px solid #dddddd;">
          <ion-row>
            <ion-col col-10 text-wrap>{{ trip.stop.street }}</ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid *ngIf="i > 0 && isShownGroup(i)">
          <ion-row>
            <ion-col col-6>
              <span *ngIf="!use_stop_contract && !use_tickets">Business Purpose</span>
              <span *ngIf="use_stop_contract && !use_tickets">Contract Number</span>
              <span *ngIf="use_stop_contract && use_tickets">Contract or<br>Ticket #</span>
            </ion-col>
            <ion-col text-wrap text-center>Mileage Orig.</ion-col>
            <ion-col text-wrap text-center>Mileage Adj.</ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>{{ trip.business_purpose }}</ion-col>
            <ion-col text-center>{{ trip.mileage_original | number:'1.1-1' }} {{userInfo.mileage_label}}.</ion-col>
            <ion-col text-center>{{ trip.mileage_adjusted | number:'1.1-1' }} {{userInfo.mileage_label}}.</ion-col>
          </ion-row>

          <ion-row *ngIf="!edit_mode">
            <ion-col col-6></ion-col>
            <ion-col text-center>
            </ion-col>
            <ion-col text-center>
              <button *ngIf="can_edit_mileage" ion-button small color="cardata-blue" #editButton
                      (tap)="onShowEditTrip(trip)">
                <i class="fas fa-pencil"></i>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
