<ion-header text-center>
  <ion-navbar>

    <ion-buttons end>
      <button ion-button
              icon-only
              tappable
              (click)="navCtrl.popToRoot()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="header-title">

    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="show-background-image">
  <div id="titleArea" text-center>
    <img src="assets/imgs/mi-route-logo.png" alt="Mi-Route | Powered by CarData" id="miRouteLogoImg"/>
  </div>

  <div class="fusionInputBox">
    <form #f="ngForm" (ngSubmit)="onVerifyCode(f)">
      <ion-list no-lines text-center>
        <ion-item text-center>
          <h2>Enter Verification Code</h2>
        </ion-item>
        <ion-item text-wrap>
          <p>Please check your Company Email for a code to verify your Mi-Route account</p>
        </ion-item>
        <ion-item text-center>
          <ion-input ngModel name="code" placeholder="Code" required></ion-input>
        </ion-item>
      </ion-list>

      <button ion-button
              type="submit"
              block
              tappable
              [disabled]="!f.valid"
              class="submitButton">Submit</button>
    </form>
  </div>

  <div *ngIf="show_reverification" style="position: fixed; bottom: 35%;">
    <p>If you need to get a new verification code, re-enter your code
      <a ion-button
         clear
         tappable
         (click)="navCtrl.pop()">here</a>
    </p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p class="contact-support">CONTACT SUPPORT</p>

    <ion-grid>
      <ion-row>
        <ion-col col-6 text-right class="contact-phone">
          <ion-icon name="call"></ion-icon> Phone
        </ion-col>

        <ion-col col-6 text-left class="contact-email">
          <ion-icon name="chatbubbles"></ion-icon> Email
        </ion-col>
      </ion-row>
    </ion-grid>


    <p class="footer-copyright">&copy;2018 CarData Consultants</p>
  </ion-toolbar>
</ion-footer>
