<ion-header>
  <ion-navbar>
    <ion-buttons left class="position-absolute">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="header-title" text-center>
      Day Ended
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <p>Your day has ended, and you can start a new day on {{ next_day }}.</p>
  <p>You can review your day's trips by clicking on the 'road' icon below,
    or you can always go to CarData Online to review today's or any past trips.</p>
  <p>The following is a summary of your driving for today:</p>

  <div class="trip-card-wrapper">
    <ion-grid class="trip-card" *ngIf="userInfo">
      <ion-row>
        <ion-col text-left *ngIf="last_starting_odometer > 0">
          <small>Starting Odometer</small>
          <br>
          {{ last_starting_odometer }}
        </ion-col>
        <ion-col *ngIf="last_starting_odometer == null"></ion-col>
        <ion-col text-right *ngIf="last_ending_odometer">
          <small>Ending Odometer</small>
          <br>
          {{ last_ending_odometer }}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="trips">
        <ion-col>
          <div class="calendar-box">
            <div class="calendar-box__day">
              {{ last_entry_day }}
            </div>
            <div class="calendar-box__month">
              {{ last_entry_month }}
            </div>
          </div>
          <!--<span *ngIf="last_entry_year">, {{ last_entry_year }}</span>-->
        </ion-col>

        <ion-col text-center>
          <span class="trip-miles__text">{{ full_mileage_units_name }}</span>
          <span class="trip-miles__mileage">{{ business_mileage | number:'1.1-1' }}</span>
        </ion-col>

        <ion-col text-right>
          <span class="trip-trips__text">Trips</span>
          <div class="trip-trips__count">
            {{ trips.length ? trips.length - 1 : 0 }}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
