<ion-header text-center>

  <ion-navbar>
    <ion-buttons left class="position-absolute">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Test</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  no tests
</ion-content>



